 <table class="table table-striped table-hover mt-5">
  <thead>
    <tr>
     <th scope="col">#</th>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>

  <tbody>
   <% @foods.each.with_index do |food, index| %>
   <% if food.user_id == current_user.id %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td> <%= food.name %></td>
        <td>
          <% recipe = RecipeFood.recipe_quantity(food.id) || 0 %>
          <%if recipe != 0 %>
            <%= recipe_val = recipe.quantity %>g
          <%else%>
            <%= recipe_val = recipe %>g
          <%end%>
        </td>
        <td>$<%= recipe_val * food.price %></td>
    <%end%> 
      </tr>
      <%end%>
  </tbody>
  </table>