<div class = 'container pb-4 '>
  <h2 class = 'text-center mt-4'>Log in</h2>

  <div class = 'container mt-4 mx-auto'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-4 mb-3 mx-auto  field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", id:'email', class:'form-control' %>
      </div>

      <div class="col-4 mb-3 mx-auto  field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="col-4 mb-3 mx-auto field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions col-4 mx-auto mb-3">
        <%= f.submit "Log in", class: 'btn btn-primary text-leght' %>
      </div>
    <% end %>
    <div class = 'col-4 mx-auto'>
     <%= render "devise/shared/links" %>
    </div>
  </div>

</div>